<div class="col-md-12 portlet portlet_comparison">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-train" aria-hidden="true"></i>
			V201
		</div>
		<div class="col-md-12 portlet_content">
			<div class="row">
				
				<div class="col-md-7">
					<div class="row">

						<div class="col-md-12 portlet portlet_keydates">
							<div class="row content">
								<div class="col-md-12 portlet_title">
									<i class="fa_title_icon fa fa-calendar-check-o" aria-hidden="true"></i>
									Key Dates
									<span class="plate_asof">(As of : 3rd July 2016)</span>
								</div>
								<div class="col-md-12 portlet_content">
									<div class="">
										<table class="table">
											<thead>
											<tr>
												<th class="col_separation">KAD</th>
												<th class="col_separation set_center">Contract</th>
												<th class="col_separation set_center">Forecast</th>
												<th class="col_separation set_center">Day Left</th>
												<th class="col_separation set_center">Variance</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td>Track Access Date Sg Buloh Line</td>
												<td class="set_center">30 Sep 2015</td>
												<td class="set_center">31 Oct 2015</td>
												<td class="set_center">0</td>
												<td class="set_center mrt_colorcode_1">-4 W</td>
											</tr>
											<tr>
												<td>Track Access Date Damansara Damai</td>
												<td class="set_center">30 Sep 2015</td>
												<td class="set_center">19 Oct  2015</td>
												<td class="set_center">0</td>
												<td class="set_center mrt_colorcode_2">-3 W</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 portlet portlet_kpi">
							<div class="row content">
								<div class="col-md-12 portlet_title">
									<i class="fa_title_icon fa fa-pie-chart" aria-hidden="true"></i>
									KPI
									<span class="plate_asof">(As of : 3rd July 2016)</span>
								</div>
								<div class="col-md-12 portlet_content">
									<div class="col-md-3 halfdonut">
										donut will served here
										<br><br>
										<span class="title">Piling</span>
									</div>
									<div class="col-md-3 halfdonut">
										donut will served here
										<br><br>
										<span class="title">Pile Cap</span>
									</div>
									<div class="col-md-3 halfdonut">
										donut will served here
										<br><br>
										<span class="title">Pier</span>
									</div>
									<div class="col-md-3 halfdonut">
										donut will served here
										<br><br>
										<span class="title">Pier Head</span>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-md-5">
					<div class="row">

						<div class="col-md-12 portlet portlet_scurve">
							<div class="row content">
								<div class="col-md-12 portlet_title">
									<i class="fa_title_icon fa fa-area-chart" aria-hidden="true"></i>
									S-Curve
								</div>
								<span class="scurve_arrow scurve_arrow_up"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
								<div class="col-md-12 portlet_content">
									<div class="row">
										<div class="col-md-12 portlet_scurve_graph">graph shown here
											<br><br><br><br><br><br><br><br><br><br><br><br>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>