/*Loader*/

div.loading_pad span p{
    font-size: 16px;
    margin: 0 auto;
    color: #fff;
}
div.loading_pad span img{
    margin: 0 auto;
}
div.loading_pad{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 99999999;
}
div.loading_pad span {
    position: absolute;
    display: block;
    width: 100px;
    top: 30%;
    left: 48%;
    margin-left: -50px;
}
.loading_pad_gohide{
    display: none;
}
a{
    outline: 0;
}
/*breadcrumbs*/

.custom_breadcrumb {
    padding: 0 5px;
    font-size: .9em;
}
.custom_breadcrumb a {
    text-decoration: none;
    color: #39f;
}
.custom_breadcrumb a:hover {
    color: #4af;
}
.breadcrumb_divider {
    padding: 0 10px;
}
div.custom_breadcrumb div.title {
    color: #fff;
    padding: 0 0 5px;
    font-size: 1.5em;
    border-bottom: 1px solid #335;
}