/*Loader*/
#data_date{
    /*cursor: pointer;*/
    width: 75px;
    text-align: center;
    height: 23px;
    /*float: right;*/
    background-color: transparent;
    border: none;
    color: #fca;
    font-size: .8em;


}
#data_date:focus{
    outline: none;
    color: transparent;
    text-shadow: 0 0 0 #fca;
}
.block {
    /*margin-bottom: 20px;*/
    /*float: left;*/
    width: 100%;
    /*height: 100%;*/
    position: relative;
}
.block .content {
    /*padding: 10px;*/
    /*height: 91%;*/
    border: none !important;
    overflow: auto;
}
.chart-scurve2 {
    margin-top: 20px;
}
div.loading_pad span p{
    font-size: 16px;
    margin: 0 auto;
    color: #fff;
}
div.loading_pad span img{
    margin: 0 auto;
}
div.loading_pad{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 99999999;
}
div.loading_pad span {
    position: absolute;
    display: block;
    width: 100px;
    top: 30%;
    left: 48%;
    margin-left: -50px;
}
.loading_pad_gohide{
    display: none;
}
a{
    outline: 0;
}
/*breadcrumbs*/

.custom_breadcrumb {
    padding: 0 5px;
    font-size: .9em;
}
.custom_breadcrumb a {
    text-decoration: none;
    color: #39f;
}
.custom_breadcrumb a:hover {
    color: #4af;
}
.breadcrumb_divider {
    padding: 0 10px;
}
div.custom_breadcrumb div.title {
    color: #fff;
    padding: 0 0 5px;
    font-size: 1.5em;
    border-bottom: 1px solid #335;
}

@media only screen and (min-width:768px){
    .chart-scurve {
        height: 220px;
    }
    .chart-scurve2{
        height: 310px;
    }
}

@media only screen and (min-width:960px){
    .chart-scurve {
        /*height: 170px;*/
        height: 230px;
    }
    .chart-scurve2{
        height: 330px;
    }
}

@media only screen and (min-width:1920px){
    .chart-scurve {
        height: 350px;
    }
    .chart-scurve2 {
        height: 410px;
    }
}

.pl0{
    padding-left: 0px;
}
#header_menu .not-active {
    pointer-events: none;
    cursor: default;
}

.ui-datepicker{
    z-index: 2 !important;
}

/*[data-sizex="12"] {*/
    /*width:98.70% !important;*/
/*}*/

.gridster ul{
    position: initial !important;
}
/*.plr0 {*/
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
/*}*/

/*Breadcrumbs*/

#breadcrumbs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    margin: 0;
    overflow: hidden;
    padding: 0px 0 5px 0px;
    width: 100%;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.02);
    font-size: .9em;
}
#breadcrumbs li {
    list-style-type: none;
    float: left;
    padding-left: 8px;
}
#breadcrumbs li:first-child{
    padding-left: 0;
}
#breadcrumbs a {
    color: #39f;
}
#breadcrumbs>li+li:before {
    padding-right: 10px;
    color: #ccc;
    font-family: FontAwesome;
    content: "\f105";
}
.breadcrumbs_title {
    color: #fff;
    padding: 0 5px 5px;
    font-size: 1.5em;
    border-bottom: 1px solid #335;
}